body {
    font-family: 'Allerta', sans-serif;
    font-size: 14px;
    color: var(--color-primary);
    padding: 100px 0 0;
}

.container {
    max-width: 1440px;
    width: 90%;
    margin: auto;
    padding: 0;
}

/* BARRAS DE ROLAGEM */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--color-secondary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}